h1 {
    color: #2a86bf;
    font-style: bold;
    text-decoration: underline;
    }
p {
    color:#2f96d6;
    }
body {
    color:#2f96d6;
    text-align: center;
     }
button {
    color: #0f3e85;
    background-color:#2a86bf;
    font-style: italic;
    border-color: white;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    } 
img {
     border-style: solid;
    border-color: #2f96d6;
    border-width: 3px;
    margin: auto;
    width: 25rem;
    object-fit: cover;
}
footer {
    color: white;
    font-family: cursive;
    }
ul {
    list-style: none;
    padding: 0;
}
html {
    background-color: #0c213a;
}